---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="Téléchargements">
    <div class="text">
        <h2>Téléchargements</h2>
        <h3>Documents</h3>
        <p>
            <a href="../downloads/CdCT_PROJET_S2_Syndrome_Fear.pdf" class="download-button" download><i>&#8681;</i> Cahier des charges technique</a>
            <a href="../downloads/CdcF_PROJET_S2_Syndrome_Fear.pdf" class="download-button" download><i>&#8681;</i> Cahier des charges fonctionnel</a>
            <a href="../downloads/Soutenance-1.pdf" class="download-button" download><i>&#8681;</i> Rapport de soutenance 1</a>
            <a href="../downloads/Soutenance-2.pdf" class="download-button" download><i>&#8681;</i> Rapport de soutenance 2</a>
            <a class="download-button-coming-soon"><i>&#8681;</i> Rapport de soutenance 3</a>
        </p>
        <h3>Exécutables</h3>
        <p>
            <a href="../downloads/build.zip" class="download-button" download><i>&#8681;</i>Version Build</a>
            <a class="download-button-coming-soon"><i>&#8681;</i> Version Linux</a>
            <!-- <a class="download-button-coming-soon"><i>&#8681;</i> Version allégée</a> -->
        </p>
    </div>
</BaseLayout>
