---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="Liens utiles">
    <div class="text">
        <h2>Logiciels utilisés</h2>
        <ul>
            <li><a href="https://unity.com/" target="_blank">Unity</a> : Moteur de jeu 2D/3D</li>
            <li>Librairies et Assets :
                <ul>
                    <li><a href="https://docs-multiplayer.unity3d.com/netcode/1.1.0/tutorials/installation/" target="_blank">NGO</a> pour le multijoueur</li>
                    <li><a href="https://fontmeme.com/fonts/minecraft-font/" target="_blank">Police pixélisée</a></li>
                </ul>
            </li>
            <li><a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank">C#</a> : Langage pour jeux vidéo</li>
            <li><a href="https://developer.mozilla.org/fr/" target="_blank">HTML / CSS / JavaScript</a> : Langages pour développement web</li>
            <li><a href="https://git-scm.com/" target="_blank">Git</a> : Système de versioning de code</li>
            <li><a href="https://github.com/" target="_blank">GitHub</a> : Hébergement de code en ligne</li>
            <li><a href="https://www.notion.so/" target="_blank">Notion</a> : Organisation et gestion de projet</li>
            <li><a href="https://discord.com/" target="_blank">Discord</a> : Communication et coordination d’équipe</li>
            <li><a href="https://www.audacityteam.org/" target="_blank">Audacity</a> : Création et édition sonore</li>
            <li><a href="https://www.adobe.com/fr/products/photoshop.html" target="_blank">Photoshop</a> : Conception visuelle et textures</li>
        </ul>
    </div>
</BaseLayout>
