<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syndrome Fear : Téléchargements</title>
    <link rel="icon" href="../static/img/favicon.gif">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <h1>Syndrome Fear</h1>
        <ul class="navbar-menu">
            <li><a href="/" class="navbar-link">Accueil</a></li>
            <li><a href="/team" class="navbar-link">Ctrl+Alt+Elite</a></li>
            <li><a href="/project" class="navbar-link">Déroulement du projet</a></li>
            <li><a href="/downloads" class="navbar-link">Téléchargements</a></li>
            <li><a href="/links" class="navbar-link">Liens utiles</a></li>
        </ul>
    </nav>
    <div class="text">
        <h2>Téléchargements</h2>
        <h3>Documents</h3>
        <p>
            <a href="/downloads/CdCT_PROJET_S2_Syndrome_Fear.pdf" class="download-button" download><i>&#8681;</i> Cahier des charges technique</a>

            <a href="/downloads/CdcF_PROJET_S2_Syndrome_Fear.pdf" class="download-button" download><i>&#8681;</i> Cahier des charges fonctionnel</a>

            <a href="/downloads/" class="download-button" download><i>&#8681;</i> Rapport de soutenance 1</a>
            
            <a class="download-button-coming-soon"><i>&#8681;</i>Rapport de soutenance 2</a>
            
            <a class="download-button-coming-soon"><i>&#8681;</i>Rapport de soutenance 3</a>

        </p>
        <h3>Exécutables</h3>
        <p>
            <a class="download-button-coming-soon">
                <i>&#8681;</i>Version complète</a>
            <a class="download-button-coming-soon">
                <i>&#8681;</i>Version allégée</a>
        </p>
</div>
</body>
<footer class="text">
    <p>
        Copyright 2025 - Ctrl+Alt+Elite
    </p>
</footer>
</html>
