<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syndrome Fear : Téléchargements</title>
    <link rel="icon" href="../static/img/favicon.gif">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <h1>Syndrome Fear</h1>
        <ul class="navbar-menu">
            <li><a href="/" class="navbar-link">Accueil</a></li>
            <li><a href="/team" class="navbar-link">Ctrl+Alt+Elite</a></li>
            <li><a href="/project" class="navbar-link">Déroulement du projet</a></li>
            <li><a href="/downloads" class="navbar-link">Téléchargements</a></li>
            <li><a href="/links" class="navbar-link">Liens utiles</a></li>
        </ul>
    </nav>
    <div class="text">
        <h2>Origine de l'idée</h2>
        <p>
            Lors des premières réunions de brainstorming, plusieurs idées de jeux ont été discutées, allant des
            RPG, aux jeux de plateformes et aux jeux mobiles. Chaque option offrait des opportunités créatives
            distinctes : un RPG pour des mondes ouverts riches en personnages, un jeu de plateforme pour des
            mécaniques simplifiées, et un jeu mobile pour une distribution large. Toutefois, les contraintes de
            temps et de ressources ont mené à écarter les projets de RPG (trop complexes) et de plateformes
            (jugés peu ambitieux). </br> </br>
            Finalement, l’équipe a opté pour un jeu d’évasion en 2D basé sur des énigmes. Ce concept
            permet de combiner narration, gameplay interactif et exploration de compétences variées (conception
            d’énigmes, développement en 2D, écriture et création d’ambiance). Le choix s’inscrit dans un
            compromis entre ambition et faisabilité, tout en garantissant une expérience de jeu immersive et de
            qualité.
        </p>

        <h2>Chronologie du projet</h2>

        <p>Avancée au <i>15/01/2025</i></p>

        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h3>Création de <i>Ctrl+Alt+Elite</i> et naissance du projet</h3>
                    <p>
                        Premier brainstorming, à l'issue duquel Ctrl+Alt+Elite était né et les fondations du projet Syndrome Fear étaient posées.
                    </p>
                    <span class="date">12 septembre 2024</span>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h3>Rendu du cahier des charges</h3>
                    <p>Après avoir travaillé intensément nous avons atteint le premier "checkpoint". Le fait de mettre des mots sur nos idées est une grande avancée dans la concrétisation du projet.
                        Pour la réalisation du cahier des charges il a été nécessaire de créer les logos de Ctrl+Alt+Elite et de Syndrome Fear.
                    </p>
                    <span class="date">25 octobre 2024</span>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h3>Soutenance de méthodologie</h3>
                    <p>Première soutenance avec pour but de vendre notre jeu à des investisseurs potentiels. Pour préparer cette soutenance nous avons dû concevoir le design du personnage principal.</p>
                    <span class="date">20 décembre 2024</span>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h3>1ère soutenance technique</h3>
                    <p>C'est ici que commence la programmation du jeu.
                        Changelog :
                        <ul>
                            <li>Création du site web</li>
                            <li>Conception des designs</li>
                            <li>Programmation de la partie déplacements et interactions du personnage</li>
                            <li>Ecriture du script</li>
                            <li>Création des menus</li>
                        </ul>
                    </p>
                    <span class="date">15 janvier 2025</span>
                </div>
            </div>
            
        </div>

        <h2>Problèmes rencontrés</h2>
    <table>
        <thead>
            <tr>
                <th>Problème constaté</th>
                <th>Importance</th>
                <th>Résolu par</th>
                <th>le</th>
                <th>Solution</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Procrastination de Pierre</td>
                <td>Critique</td>
                <td>Pierre</td>
                <td>13/01/2025</td>
                <td>Pierre s'est mis au travail</td>
            </tr>
        </tbody>
    </table>

        </div>
</body>
<footer class="text">
    <p>
        Copyright 2025 - Ctrl+Alt+Elite
    </p>
</footer>
</html>
