<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syndrome Fear : Téléchargements</title>
    <link rel="icon" href="../static/img/favicon.gif">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <h1>Syndrome Fear</h1>
        <ul class="navbar-menu">
            <li><a href="/" class="navbar-link">Accueil</a></li>
            <li><a href="/team" class="navbar-link">Ctrl+Alt+Elite</a></li>
            <li><a href="/project" class="navbar-link">Déroulement du projet</a></li>
            <li><a href="/downloads" class="navbar-link">Téléchargements</a></li>
            <li><a href="/links" class="navbar-link">Liens utiles</a></li>
        </ul>
    </nav>
    <div class="text">
        </div>
</body>
<footer class="text">
    <p>
        Copyright 2025 - Ctrl+Alt+Elite
    </p>
</footer>
</html>
