---
// src/layouts/MainLayout.astro
import '../styles/global.css';
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>SyndromeFear</title>
  </head>
  <body>
    <slot />
  </body>
</html>
